.dialog-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex !important;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  @include center;
}

.dialog-box {
  user-select: none;
  background: #fff;
  width: 420px;
  border-radius: 10px;
  overflow: hidden;
  min-height: 250px;
}
